.mainContainer{
    margin: 0 25px;
}

#panel, .flip {
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    width: 200px;
}

#panel {
    padding: 50px;
    display: none;
    width: 500px;
}

#div1, #div2, #div3{
    margin: 20px 10px;
}

#div4 {
    height: 100px;
    width: 300px;
    padding: 10px;
    margin: 3px;
    border: 1px solid blue;
    background-color: lightblue;
}

#test5{
    border: solid 0.5px;
    height: 75px;
    width:75%;
    padding: 0 5px;
}

.listTitle{
    width: 40%;
}

.getSetSection{
    float:left;
    border: solid 1px;
    width:45%;
    height: 175px;
    padding: 10px;
    margin: 10px 10px;

}

.important {
    font-weight: bold;
    font-size: xx-large;
    color: red;
}

.blue {
    color: blue;
}

h2{
    color: black;
}

input{
    margin: 10px;
}

button{
    margin: 20px 5px;
}

a {
    margin: 20px 10px;
}