/* ELEMENTS SECTION*/
a {
    margin: 20px 10px;
}

button{
    margin: 20px 5px;
}

h2{
    color: black;
}

input{
    margin: 10px;
}

/* CLASSES SECTIONS*/

.ancestors  {
    display: block;
    border: solid grey;
    color: grey;
    padding: 5px;
    margin: 15px;
    width:700px;
}

.ancestors * {
    display: block;
    border: 2px solid black;
    color: black;
    padding: 5px;
    margin: 15px;
}

.blue {
    color: blue;
}

.flip {
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    width: 200px;
}

.getSetSection{
    float:left;
    border: solid 1px;
    width:45%;
    height: 175px;
    padding: 10px;
    margin: 10px 10px;

}

.important {
    font-weight: bold;
    font-size: xx-large;
    color: red;
}

.input1{
    width:  600px;
    height: 30px;
    border:solid 1px #000000;
    margin-left: 25px;
    padding:2px 5px;
    font-weight: bold;
}

.listTitle{
    width: 40%;
}

.mainContainer{
    margin: 0 25px;
}

.marginLeft{
    margin-left: 20px;
}


/*ID SECTION*/
#panel {
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    width: 200px;
}

#panel {
    padding: 50px;
    display: none;
    width: 500px;
}

#div1, #div2, #div3{
    margin: 20px 10px;
}

#div4 {
    height: 150px;
    width: 400px;
    padding: 10px;
    margin: 5px;
    border: 2px solid blue;
    background-color: lightblue;
}

#test5{
    border: solid 0.5px;
    height: 75px;
    width:75%;
    padding: 0 5px;
}







